# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
#*.obj - used for 3d (or 2d) models

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


# Cmake stuff
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps


# Vscode stuff
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

build/

ltximg/
**/ltximg/

sandbox/assets/models/*
!sandbox/assets/models/sphere.obj
!sandbox/assets/models/cube.obj
!sandbox/assets/models/weapon.obj
